{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/">
                        <h2 class="post-title">
                            Croeso i wefan Tawerin!
                        </h2>
                        <h3 class="post-subtitle" style="font-style: italic;">
                            "Cymreig - Gwerinol - Traddodiadol"
                        </h3>
                    </a>
                    <p class="post-meta">Mae Dawnswyr Tawerin o ardal Abertawe. Fel mae’r enw ‘Tawerin’ yn cyfleu - y werin o ardal Tawe (sef Abertawe). Sefydlwyd Tawerin yn 1975 gan gyn-aelodau grŵp dawnsio gwerin mwyaf llwyddiannus y cyfnod, o Goleg Prifysgol Abertawe. Mae’r tîm profiadol hwn yn cwrdd yn wythnosol yn Aelwyd yr Hendy, ac yn cystadlu’n rheolaidd yn yr Eisteddfod Genedlaethol a’r Ŵyl Gerdd Dant. Rydym hefyd yn mwynhau teithio, yn enwedig i Ŵyliau Rhyngwladol, er mwyn rhannu ein traddodiadau â gweddill y byd.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
