{% extends "page.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div style="text-align: center;">
                        <iframe class="video" src="https://player.vimeo.com/video/142074509?byline=0" width="400" height="300">
                        </iframe>
                        <p class="video-meta">Rhuddem y Ddawns</p>
                        <hr></hr>
                        <iframe class="video" src="https://player.vimeo.com/video/142082649?byline=0" width="400" height="300">
                        </iframe>
                        <p class="video-meta">Rali Twm Sion</p>
                        <hr></hr>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div style="text-align: center;">
                        <iframe class="video" src="https://player.vimeo.com/video/142081046?byline=0" width="400" height="300">
                        </iframe>
                        <p class="video-meta">Ty Coch Caerdydd</p>
                        <hr></hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
